<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title> Testimonials page</title>
    </head>
    <body>
        <!--Navbar-->
 <nav class="navbar navbar-inverse" id="navigation"> <!--parent-->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JFireStorm Inc</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://employer-database-emerj.c9users.io:8080">Home</a></li>
      <li><a href="http://employer-database-emerj.c9users.io:8080/projects"> My Projects</a></li>
      <li><a href="http://employer-database-emerj.c9users.io:8080/testimonials">Testimonials</a></li> 
      <li><a href="http://employer-database-emerj.c9users.io:8080/contact">Contact</a></li> 
    </ul>
  </div>
</nav>
            <h1>
                This are the reviews of the customers, and what they thought of the work done
            </h1>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</html>